{% extends "template.html" %}

{% block content %}
  <div class="container">
   <form class="form-signin">
        <h2 class="form-signin-heading">Por Favor, Entre</h2>
        <label for="inputEmail" class="sr-only">Endereço de Email</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Esqueci Minha Senha
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Juntar-se</button>
      </form>
    </div>

    
{% endblock %}